<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Streaming</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="../src/index.js" defer></script>
</head>
<body>
    <div><h1>Reconocimiento de conectores</h1></div>
    <div class="video-stream"><video id="video-feed" style="width: 640px; height: 480px;" autoplay></video></div>
    <div class="button-capture">
        <button id="capture-btn">Capturar Fotograma</button>
        <div id="result-container"></div>
    </div>
</body>
</html>
